{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'hohos - Settings, Make a strong Password @hohos' %}{% endblock %}
 
{% block head %}
<style type="text/css">
.container-fluid a {color: black;}
.container-fluid i {color: white;}
</style>
{% endblock %}


{% block main %}
  <div class="page-header mytext">
    <table>
    <tr>
    <th>
    <i style="color: #008080;" class='fa fa-refresh fa-spin fa-3x fa-fw'></i>
    </th> 
    <th>
      <h1>{% trans 'Account Settings' %}</h1>
    </th> 
    </tr>
  </table>

  <!--       this url will be set to a constant
      account of hohos so, it will be done when its launched  --> 
      <a type="button" href="" class="pull-right  btn btn-info btn-sm"><small>Any Problem?</small></a>

  </div><hr style="border-color:#008080;">

  <div class="row">

    <div class="col-md-3" style="margin-top:45px;">
      {% include 'core/partial_settings_menu.html' with active='profile' %}

      <img src="{{request.user.profile.get_picture}}" class="img img-responsive" >
      <span class="mytext" style="font-weight:bold; margin-top:40px; margin-left:50px;">
      <i class="fa fa-user fa-1x fa-fw"></i>
      {{request.user.profile.get_screen_name}}
      </span>

      <hr style="border-color:#008080;" >

      <table>
        <tr>
          <th colspan="10" float="left"><div><i style="margin-left: 10px;color:green;" class='fa fa-openid fa-2x fa-fw'></th>
          <th colspan="10" float="left"><div><i style="color: #008080;" class='fa fa-refresh fa-spin fa-1x fa-fw'></th>
          <th colspan="10" float="center" style="color:green;"> <span style="font-weight:bold; color:red;">
          {% if request.user.profile.status %}{{request.user.profile.status}}{% endif %}
          </span></th>
        </tr>
      </table>


    </div>

    <div style="" class="col-md-5 col-md-offset-2">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      <h3 style="" class="mytext">{% trans 'Change Password' %}</h3>
      <form role="form" class="form-horizontal myfield" method="post" action="{% url 'password' %}" style="margin-left:10px;">
        {% csrf_token %}
<!--         {{ form.id }}
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-9">
              {{ field }}
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
          </div>
        {% endfor %} -->
         {{form|crispy}}
        <div class="form-group">
          <div>
            <button style="width:200px;" type="submit" class="my btn btn-success">{% trans 'Save' %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}




{% block footer %}

<footer style="background-color:#008080;">
<div class="container-fluid" style='padding: 10px; margin-top: 70px; height: 50px; background-color: #008080;'>
<p style="text-align:center;">
  
  <a href="{% url 'contact' %}"><i class="fa fa-volume-control-phone fa-1x fa-fw"></i>Contact</a> | 
  <a href="https://www.linkedin.com/in/hohos-guys-48082313a/"><i class="fa fa-linkedin fa-1x fa-fw"></i>LinkedIn</a> | 
  <a href="https://www.facebook.com/Hohos-1825301447690434/"><i class="fa fa-facebook fa-1x fa-fw"></i>Facebook</a> | 
  <a href="https://twitter.com/hohosguys"><i class="fa fa-twitter fa-1x fa-fw"></i>Twitter</a> | 
  <a href="https://www.quora.com/profile/Hohos-Guys"><i class="fa fa-quora fa-1x fa-fw"></i>Quora</a> | 
  <a href="https://plus.google.com/u/0/114682388073028099952"><i class="fa fa-google-plus fa-1x fa-fw"></i>Google+</a> | 
  <a href="">Hohos</a>


</p>
</div>
</footer>

 {% endblock %} 