body {
  background-color: #006389;
}

.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  font-family: Georgia, serif, cursive;
  text-align: center;
  text-shadow: white;
  line-height: 70px;
} 


h1 {
   margin-top: 200px;
 
}

.logo a {
  color: white;
  margin-top: 200px;
}

.logo a:hover, .logo a:focus {
  color: white;
  text-decoration: none;
}

.signup {
/*  background-color: white;
*/  width: 70%;
  border-radius: 7px;
  margin: 10px auto 0;
}

.signup {
  padding: 10px 20px;
}

.signup h2 {
  margin-bottom: 100px;
  color: white;
}
.signup form {
  margin-top: 15px;
}

.signup h2 {
  margin: 0;
}