{% load i18n %}{% autoescape off %}

{% blocktrans %}

Hey hoho guy, We just sent you this Email, as you requested us. {{ site_name }}.

{% endblocktrans %}


{% trans "Hey, You should go on following page and choose a new password for you." %}


{% block reset_link %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}


{% trans "Thanks for using our site! We @hohos are happy to help you." %} 

{% blocktrans %}The {{ site_name }} Guys!{% endblocktrans %}

{% endautoescape %}
 